@page "/AddNewNote"
@using Application.Service
@using Domain.Model
@inject NoteService noteService
@inject NavigationManager NavigationManager


<h3>Add New Note</h3>
<hr />

<form>
    <div class="row">
        <div class="col-md-8">
            <div class="for-group">
                <label for="Name" class="control-label">Title</label>
                <input form="Title" class="form-control" @bind="@obj.Title" />
            </div>

            <div class="for-group">
                <label for="Content" class="control-label">Content</label>
                <input form="Content" class="form-control" @bind="@obj.Content" />
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary btn-sm" @onclick="@CreateNewNoteAsync" value="Save Note" />
                <input type="button" class="btn btn-danger btn-sm" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>
</form>

@code {
    public Note obj = new Note();

    protected async void CreateNewNoteAsync()
    {
        await noteService.AddNewNotesAsync(obj);
        NavigationManager.NavigateTo("Notes");
    }
    protected async void Cancel()
    {
        NavigationManager.NavigateTo("Notes");
    }
}
