@page "/EditNote/{Id}"
@using Application.Service
@using Domain.Model
@inject NoteService noteService
@inject NavigationManager NavigationManager


<h3>Edit Note</h3>
<hr />

<form>
    <div class="row">
        <div class="col-md-8">
            <div class="for-group">
                <label for="Id" class="control-label">Note Number</label>
                <input form="Id" class="form-control" @bind="@obj.Id" />
            </div>

            <div class="for-group">
                <label for="Content" class="control-label">Content</label>
                <input form="Content" class="form-control" @bind="@obj.Content" />
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary btn-sm" @onclick="@UpdateNoteAsync" value="Update Note" />
                <input type="button" class="btn btn-danger btn-sm" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>
</form>

@code {

    [Parameter]
    public string Id { get; set; }

    Note obj = new Note();

    protected override async Task OnInitializedAsync()
    {
        obj = await Task.Run(() => noteService.GetNoteByIdAsync(Convert.ToInt32(Id)));
    }

    protected async void UpdateNoteAsync()
    {
        await noteService.UpdateNoteContentAsync(obj);
        NavigationManager.NavigateTo("Notes");
    }
    protected async void Cancel()
    {
        NavigationManager.NavigateTo("Notes");
    }
}
